<?xml version="1.0" encoding="UTF-8"?>

<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	 xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	 xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
	 version="3.1">
    <servlet>
        <servlet-name>DO_reg</servlet-name>
        <servlet-class>Re_Encryption.DO_register</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DO_reg</servlet-name>
        <url-pattern>/do_reg</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>Cloud_login</servlet-name>
        <servlet-class>Re_Encryption.Cloud</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Cloud_login</servlet-name>
        <url-pattern>/cloud</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>Delegator_reg</servlet-name>
        <servlet-class>Re_Encryption.Delegator_register</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Delegator_reg</servlet-name>
        <url-pattern>/delegator_reg</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>Court_login</servlet-name>
        <servlet-class>Re_Encryption.Court</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Court_login</servlet-name>
        <url-pattern>/court</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>Upload_file</servlet-name>
        <servlet-class>Re_Encryption.Upload</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Upload_file</servlet-name>
        <url-pattern>/upload</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>Download_file</servlet-name>
        <servlet-class>Re_Encryption.Download</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Download_file</servlet-name>
        <url-pattern>/download</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
